<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zbdemo.hndl.mapper.AccessLogMapper">
    <!--新增菜单-->
    <insert id="insertAccessLog">
        insert into t_access_log(id,target_server, request_path, `schema`, request_body, response_data, ip_address, request_time, response_time, execute_time)
        values (#{id},#{targetServer}, #{requestPath}, #{schema}, #{requestBody}, #{responseData}, #{ipAddress}, #{requestTime}, #{responseTime},
                #{executeTime})
    </insert>
</mapper>
